{{{begin-page}}}
</head>
<body>
<h1>{{cookies.title}}</h1>
<form action='/'>
Set Cookies:<br />
Proberty name: <input type="text" name="key"><br />
Value: <input type="text" name="value"><br />
<input type='submit' value='Submit'>
</form>
{{{cookies-page}}}
</body>
</html>
